.editor-root {
	display: "flex";
	flex: 1;
}
.editor-wrapper {
	width: 100% !important;
	flex-direction: column;
	display: flex;
	
}
.editor-editor {
	padding: 5px !important;
	border-radius: 2px !important;
	border-color: rgb(0, 47, 126) !important;
	height: calc(100vh - 64px - 52px) !important;
}
.editor-toolbar {
    
}
